body#login{
    background-color:#4a87e2;
}
/* #picx{
    width:20%;
    border:1px solid blue;
} */

/* #picx img{
    width:100%;
} */

#submit{
    margin-top: 20px;   
}

#border1{
    margin-top:150px;
}

#submit button{
    border-radius: 10px;
    width:100px;
}

#register{
    background-color: rgb(173, 173, 173);
    border-style: none;
}

a,a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color:inherit;
}

#testborder{
    border:rgb(230, 11, 11) solid 3px;
}

#logo{
    width:30%;
}

h2{
    color:white;
}

#logoline{
    margin-bottom: 10%;
}

.fb{
    width:28%;
   
}
#test{
   
    margin-left:15%;
    margin-top:10%;
}


.center{
    margin:0 auto;
}


